

li a {
white-space: nowrap;
font-size: 15px !important;
}

nav .navbar-nav li a{
color: white !important;
}

ul.dropdown-menu {
background-color:rgb(5,161, 5);

}

.dropdown-item:active {
background-color: rgb(0, 239, 36);
}

.dropdown-menu > li > a:hover {
background-color: hsl(129, 65%, 44%);


}


.dropdown-menu{
border-radius: 0px;
padding: 0px;
margin: 0px;
}

.dropdown-item{
padding: 10px;

}

.carousel-inner{
margin: 5px;
}


.content{
margin-right: 3%;
margin-left: 3%;

padding-right: 5%;
padding-left: 5%;
}

.inner-content{
padding: top 10px; ;
padding-bottom:  10px; ;

}

a:visited{
color: transparent;



}

span {
display: inline-block;
}



@font-face {
 font-family: iransens;
src: url(/assests/Iranian\ Sans.ttf);
}

/* medias */

@media only screen and (max-width:1000px){
#navbartop{
visibility: hidden !important;
}
}

@media only screen and (max-width:1200px){
#containerpxnopadding{
padding-left: 0% !important;
margin: 0% !important;

}
}
    
@media only screen and (min-width:1000px){
#navbar2{
visibility: hidden !important; 
}
}


@media only screen and (max-width:770px){
#parkelm{
margin: 0% !important;
padding: 0% !important; 
}
#endofsitecontainer{
text-align: right !important;
direction: rtl;
width: auto;
}

#endofsitecontainerinner{
padding: 10px !important;
direction: ltr;
text-align: right;
}
#boxesnomargin{
width: 100% !important;
margin-bottom: 20px;
margin-right: 0% !important;
}

#numbersss{
margin: 0% !important;
padding: 0% !important; 
}


#numbersssfont{
display: block !important;



}
#endingtexts{
padding-right: 20px !important ;
margin: 0% !important;
padding-left: 0% !important;
padding-top: 0% !important;
padding-bottom: 0% !important;


}

#roydadhares{
margin: 0% !important;



}

#gmailend{
margin: 0% !important;



}


#numbersssfont2{
font-size: 25px !important;


}

}



    